@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Lato:wght@400;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
// variables fonts
$fonts_main: 'Roboto', sans-serif;
$fonts_second: 'Raleway', sans-serif;
$font_third: 'Bona Nova', serif;
$font_fourth: 'Lato', sans-serif;

//Media Queries
$telefono:480px;
$tablet:769px;
$tabletMax: 769px;
$desktop:1024px;

//Colors
$firstColour: #5e311e;
$secondColour:#c39c63;
$secondClourAlt: #f0c483;
$secondClourAlt2: #ddd5c9;
$blackColour:#000000;
$whiteColour:#ffffff;
$lightGreyColour:#eceeef;
$lightCafeColour:#ebe7de;
$containerColour:#ae603e;
$greyColour:#c2c5c7;

//Unidades
$separation: 5rem;