@use 'base/mixins' as m;
@use 'base/variables' as * ;

.nav{
    margin-top: 0.5rem;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include m.tablet { 
        height: calc(65px + 20px)
     }
     .nav__toggle{
         color:$whiteColour;
         font-size: 2rem;
         cursor:pointer;
         display: inline-flex;
         @include m.tablet { 
             display:none;
          }
     }
}
.nav__logo{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: $whiteColour;
    font-family: $font_third;
    font-weight: 500;
    font-size: 2.7rem;
    @include m.tablet { 
        font-size:3rem;
     }
     @include m.desktop { 
         font-size:4rem;
      }
      .nav__icon{
          margin-top:-0.9rem;
          @include m.tablet { 
            margin-top: -1.3rem;
         }
      }
}
.scroll-header{
    .nav__toggle{
        color: $blackColour;
    }
    .nav{
        @include m.tablet { 
            height:calc(65px + 10px)
         }
    }
}